html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

md-toolbar h2 {
    font-size: 1em;
    font-weight: 400;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.25em;
    font-weight: 400;
}
